<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textanalyzerg</title>
</head>
<body>
<h1>Welcome to text analyzer</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 516px; height: 95px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punc <br>
    <input type="checkbox" name="fullcaps">Upper case <br>
    <input type="checkbox" name="newlineremover">New Line Remover <br>
    <input type="checkbox" name="extraspaceremover">Extra space Remover <br>
    <input type="checkbox" name="charcount">Charcount <br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>